[submodule "extension/thirdparty/godot-cpp"]
	path = extension/thirdparty/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.5
[submodule "extension/thirdparty/libpd"]
	path = extension/thirdparty/libpd
	url = https://github.com/libpd/libpd.git
[submodule "extension/thirdparty/rtmidi"]
	path = extension/thirdparty/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "extension/thirdparty/cyclone"]
	path = extension/thirdparty/cyclone
	url = https://github.com/porres/pd-cyclone.git
	branch = master
[submodule "extension/thirdparty/else"]
	path = extension/thirdparty/else
	url = https://github.com/porres/pd-else.git
	branch = master
